//================================//
//  Define all global constants.  //
//================================//

// Sizes
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;
$spacing-gutter: 10px;

// Font families
$font-family-default: "Helvetica", sans-serif;

// Font sizes
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 18px;
$font-size-body: $font-size-normal;

$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 700;

// Colors
$color-body-default: #333333;
$color-body-light: #C1C1C1;
$color-background: #FFFFFF;
$color-theme: orange;

// Assets
