@import
	"init/constants";

/* McElroysona */
.mcelroysona {
	width: 100%;
	padding: 30px 10px 10px;
	margin: 0 auto;
	text-align: center;
	border-top: 3px solid $color-theme;

	.full-name {
		font-size: 38px;
		line-height: 1.45;
		margin-bottom: 0.6em;
		font-family: serif;
		font-style: italic;
	}

	@media (min-width: 450px) {
		max-width: 400px;
		border: 3px solid $color-theme;
		border-bottom: none;
	}
}